$max-width: 1200px;
$gutter: 20px;

//Litir
$black: #000;
$darkgrey: #999;
$grey: #aaa;
$lightgrey: #ccc;
$lime: #2d2;
$darkgreen: #1a1;
$lightyellow: #fcffd2;
$redish: #cc9694;
$protection: #fff9;

$font-main: "Times New Roman";
$font-main-lora: "Lora", serif;
$font-main-serif: "PT Serif", serif;
$font-heading: "Roboto Mono", monospace;
$font-heading-monospace: "Monospace";
$font-heading-courier: "Courier New";
