@import "config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll; // alltaf hafa y skrollbar

  font-family: $font-main;
  font-size: 16px;
}

img { /* stylelint-disable-line */
  max-width: 100%;
}

// TODO import


//stillingar í hausi
.haus {
  background: url("../img/header.jpg") no-repeat center center fixed;
  background-color: rgba(0,0,0,0.6);
  background-size: cover;
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.haus__h1 {
  color: $black;
  text-align: center;
  width: 100%;
  margin-top: 50px;
  font-family: $font-heading;
  font-size: 64px;
}
.haus__fag {
  color: $black;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  font-family: $font-heading;
  font-size: 24px;
}
.takkar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-top: 2em;
  margin-bottom: 2em;
}
.takkar_takki {
  border-radius: 10px;
  background-color: $lightgrey;
  font-family: $font-heading;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
}

@media(min-width: 700px){

}
