@import "config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll; // alltaf hafa y skrollbar

  font-family: $font-main;
  font-size: 16px;

  //bætti við
  min-width: 400px;
}

img { /* stylelint-disable-line */
  max-width: 100%;
}

// TODO import


//stillingar í hausi á index.html
.haus {
  background: url("../img/header.jpg") no-repeat center center fixed;
  background-color: rgba(0,0,0,0.6);
  background-size: cover;
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;

  &__h1 {
    color: $black;
    text-align: center;
    width: 100%;
    margin-top: $gutter;
    font-family: $font-heading;
    font-size: 48px;
  }
  &__fag {
    color: $black;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    font-family: $font-heading;
    font-size: 24px;
  }
}

//stillingar í hausi á fyrirlestur.html sem eru öðruvísi en í index
.haus2 {
  background: url("../img/code.jpg") no-repeat center center fixed;
  background-color: rgba(0,0,0,0.6);
  background-size: cover;
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

//stillingar á efni sem er ekki í haus
.efni {
  max-width: $max-width;
}
.takkar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;

  &__takki {
    border-radius: 10px;
    background-color: $lightgrey;
    font-family: $font-heading;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
  &__takki--merkt {
    border-radius: 10px;
    background-color: $lime;
    font-family: $font-heading;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

//stillingar á boxum sem fyrirlestrarnir eru í
.boxes {
  //þetta er utan um öll boxin
  width: 100%;
  padding: 0.5*$gutter;
  display: flex;
  flex-wrap: wrap;
}
.boxes__box {
  //þetta er eitt og eitt box
  width: 100%;
  padding-left: 0.5*$gutter;
  padding-right: 0.5*$gutter;
  margin-bottom: $gutter;
  display: flex;
  flex-flow: column;
}
.boxes__mynd {
  //thumbnailið innan í box
  width: 100%;
}
.boxes__fyrirsogn {
  //fyrirsagnirnar í gráu boxunum
  background-color: $lightgrey;
}
.boxes__fyrirsogn__titill {
  //titillinn á fyrirlestrinum
  font-size: 18px;
  font-family: $font-heading;
}
.boxes__fyrirsogn__flokkur {
  //flokkurinn á fyrirlestrinum (category, html/css/javascript)
  font-size: 12px;
  font-family: $font-heading;
  text-transform: uppercase;
}


//stillingar fyrir fyrirlestur.html
.fyrirlestur__texti {
  width: 100%;
}


//media stillingar fyrir stærra en 700px
@media(min-width: 700px){
  //haus
  .haus__bg {
    min-height: 50vh;
  }
  .haus__h1__bg {
    font-size: 64px;
  }
  //takkar
  .takkar__bg {
    justify-content: center;
  }
  //box í index.html
  .boxes__box__bg {
    width: 33.3333%;
    height: 33.3333vh;
  }
  //texti í fyrirlestur.html
  .fyrirlestur__texti__bg {
    width: 66.6667%;
  }
}
